.React-Alert-Go__alert-box {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px 20px;
  min-width: 300px;
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  background-color: white;
}

.React-Alert-Go__alert-box--top-right {
  top: 1em;
  right: 1em;
}
.React-Alert-Go__alert-box--top-left {
  top: 1em;
  left: 1em;
}
.React-Alert-Go__alert-box--top-center {
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
}
.React-Alert-Go__alert-box--bottom-right {
  bottom: 1em;
  right: 1em;
}
.React-Alert-Go__alert-box--bottom-left {
  bottom: 1em;
  left: 1em;
}
.React-Alert-Go__alert-box--bottom-center {
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
}
